<h1>Course Search</h1>
<br>
<% if logged_in? %>

<%= link_to "Back to Profile Page", user_path(current_user) %>
<br>

<p>Please select which course you wish to look for.</p>
<p>Note that you can search with one field by leaving the other blank, or you can fill in both
  fields to narrow your search.</p>
<p>All you need to do is select your parameters. The search will update as you do.</p>
<p>Unfortunately, if the results do not show after typing, you need to reload the page.
This happens whenever you access this page from an in-site link.</p>
<br>
<%= form_tag(results_path, method: "get", id: "search_form", remote: true) do  %>
  <strong>Search by Course Name</strong>
  <br>
    <%= text_field_tag(:course_name) %>
    <br><br><br>
  <strong>Search by Subject</strong>
  <br>
    <% subject_list = Subject.all.map { |subject| [subject.name, subject.id] } %>
    <% subject_list = [["Pick a Subject", 0]] + subject_list %>
    <%= select_tag :subject_name,
     options_for_select(subject_list) %>
    <br><br><br>
  <div id="results"><%= render 'results' %></div>

<% end %>

<% else %>

<h3>Our apologies.</h3>

<p>You must be signed up to this site in order to search for courses.</p>

<%= link_to "Sign In", login_path %>

<br><br><br>

<h3>New here?</h3>

<%= link_to "Sign Up", new_user_path %>

<% end %>
