<p id="notice"><%= notice %></p>

<% if logged_in? %>

<%= link_to "Back to Profile Page", user_path(current_user) %>
<br>

<h1>Course Listing</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= link_to 'Show More', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h3>Our apologies.</h3>

<p>You must be signed up to this site in order to view course listings.</p>

<%= link_to "Sign In", login_path %>

<br><br><br>

<h3>New here?</h3>

<%= link_to "Sign Up", new_user_path %>

<% end %>
