<p id="notice"><%= notice %></p>

<% if logged_in? %>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Independent study:</strong>
  <%= @course.independent_study %>
</p>

<p>insert Enroll button here</p>

<%= link_to 'Back to Course Listing', courses_path %>

<% else %>

<h3>Huh...</h3>

<p>How'd you get here? Must mean the app's missed something, or you're a hacker. You need
  to be signed up in order to view any course.</p>

<%= link_to "Back to Home", root_path %>

<% end %>
