<p id="notice"><%= notice %></p>

<% if logged_in? %>
<div class="table">
<p>
  <h2><%= @course.name %><h2>
</p>
<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Independent study:</strong>
  <%= @course.independent_study %>
</p>

<p>
  <strong>Listed Under:</strong>
  <br>
  <% @course.subjects.each do |subject| %>
    <%= subject.name %> |
    <%= subject.id_number %>
    <br>
  <% end %>
</p>

</div>
<% if !current_user.courses.exists?(name: @course.name) %>
  <%= link_to "Enroll", enroll_path({:course_name => @course.name, :user_name => current_user.name}) %> |
<% else %>
  <br>
  <h4>You are already enrolled in this course.</h4>
  <%= link_to 'Back to Profile Page', user_path(current_user) %> |
<% end %>

<%= link_to 'Course Listing', courses_path %> |
<%= link_to 'Search for Courses', search_path %>

<% else %>

<h3>Huh...</h3>

<p>How'd you get here? Must mean the app's missed something, or you're a hacker. You need
  to be signed up in order to view any course.</p>

<%= link_to "Back to Home", root_path %>

<% end %>
